
body {
  background-color: black;
}

html, body {
  margin: 0;
  padding: 0;
  clear: both;
}

/***** HOME PAGE NAV *****/

 .mainLinks ul li {
   padding: 7px;
  text-decoration: none;
  font-size: 19.5px;
  font-family: 'Rubik', sans-serif;
  font-weight: 300; 
  display: inline;
  position: relative;
  top: 20px;
  left: -77px;
} 

.logo {
  position: relative;
  top: 23px;
  left: 757px;
 } 

.logo img {
  width: 62px;
  height: 50px;
} 

#homeSection img {
  width: 100%; 
}

.navbar-default {
  background-color: transparent !important;
}

a.nav-link.scroll {
  background-color: transparent !important;
  text-decoration: none;
}

/***** ABOUT PAGE *****/

h1 {
  color: white;
  font-family: 'Rubik', sans-serif;
  font-size: 40px;
}

#aboutSection {
  margin-top: -20px;
  width: 100%;
  height: 800px;
  background-color: grey;
}

#circleOne, #circleTwo, #circleThree {
  width: 200px;
  height: 200px;
  background: white;
  border-radius: 50%;
}



/***** SUPPORT PAGE *****/

#supportSection {
  margin-top: -33px;
  width: 100%;
  height: 800px;
  background-color: lightgrey;
}




/***** KONNECT PAGE *****/

#konnectSection {
  margin-top: -33px;
  width: 100%;
  height: 800px;
  background-color: darkgray;
}


/***** FOOTER PAGE *****/

#footerSection {
  width: 100%;
  height: 70px;
  background-color: rgb(0, 204, 211);
  color: black;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding: 20px 0 10px 0;
  font-size: 17.5px;
}

#footerSection small {
  position: relative;
}
