
body {
  background-color: black;
}

html, body {
  margin: 0;
  padding: 0;
  clear: both;
}

/***** HOME PAGE NAV *****/

 .mainLinks ul li {
   padding: 7px;
  text-decoration: none;
  font-size: 19.5px;
  font-family: 'Rubik', sans-serif;
  font-weight: 300; 
  display: inline;
  position: relative;
  top: 20px;
  left: -77px;
} 

.logo {
  position: relative;
  top: 23px;
  left: 757px;
 } 

.logo img {
  width: 62px;
  height: 55px;
} 

.bg img {
  width: 100%; 
}

.navbar-default {
  background-color: transparent !important;
}

a.nav-link.scroll {
  background-color: transparent !important;
  text-decoration: none;
}

/***** ABOUT PAGE *****/

#aboutSection {
  margin-top: -20px;
  width: 100%;
  height: 800px;
}

.aboutBg img {
  width: 100%;
  margin-top: -523px;
  height: 787px;;
}

.karmaIsNow {
  font-family: 'Rubik', sans-serif;
  position: relative;
  top: 110px;
  text-align: center;
  color: white;
}

#circleTwo, #circleThree {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: black;
  border-radius: 50%;
}

#circleOne {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: black;
  border-radius: 50%;
  margin-top: 180px;
  margin-left: 60px;
  border: 2.5px solid rgb(161, 129, 165);
  transition: border 1s linear, box-shadow 1s linear;
}

#circleOne.active {
  box-shadow: 0 0 180px rgba(121, 4, 145, 0.795);
}

#circleTwo {
  margin-top: -297px;
  margin-left: 480px;
}

#circleThree {
  margin-top: -299px;
  margin-left: 895px;
}

p.text {
  font-family: 'Rubik', sans-serif;
  text-align: center;
  position: relative;
  top: 100px;
}


/***** SUPPORT PAGE *****/

#supportSection {
  margin-top: -33px;
  width: 100%;
  height: 800px;
  background-color: lightgrey;
}

.supportBg img {
  margin-top: -87px;
  width: 100%;
  height: 787px;
}

.support h1 {
  font-family: 'Rubik', sans-serif;
  position: relative;
  top: 500px;
  text-align: center;
  font-size: 70px;
  color: white; 
}


/***** KONNECT PAGE *****/

#konnectSection {
  margin-top: -33px;
  width: 100%;
  height: 800px;
  background-color: darkgray;
}

.konnectBg img {
  margin-top: -87px;
  width: 100%;
  height: 801px;
  opacity: 1;
}

.konnect h1 {
  position: relative;
  top: 500px;
  text-align: center;
  font-size: 70px;
  color: white; 
}


/***** FOOTER PAGE *****/

#footerSection {
  width: 100%;
  height: 70px;
  background-color: rgb(231, 227, 0);
  color: black;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding: 20px 0 10px 0;
  font-size: 17.5px;
}

#footerSection small {
  position: relative;
}
